@{
    ViewData["Title"] = "Panel de Administrador";
}

<h2>Panel de Administrador</h2>

<ul>
    <li><a asp-controller="Admin" asp-action="Transacciones">Ver Transacciones</a></li>
    <li><a asp-controller="Admin" asp-action="Usuarios">Ver Usuarios Compradores</a></li>
    <li><a asp-controller="Admin" asp-action="Productos">Ver/Actualizar Productos</a></li>
</ul>
