@model CarritoCompras.Web.Models.Usuario

@{
    ViewData["Title"] = "Registro";
}

<h2>Registro de Usuario</h2>

<form method="post" asp-action="Registrar">
    <label>Nombres</label>
    <input asp-for="Nombres" class="form-control" required />

    <label>Dirección</label>
    <input asp-for="Direccion" class="form-control" required />

    <label>Teléfono</label>
    <input asp-for="Telefono" class="form-control" required />

    <label>Usuario</label>
    <input asp-for="UsuarioLogin" class="form-control" required />

    <label>Identificación</label>
    <input asp-for="Identificacion" class="form-control" required />

    <label>Clave</label>
    <input asp-for="Clave" type="password" class="form-control" required />

    <br />
    <button type="submit" class="btn btn-success">Registrarse</button>
</form>
