@model List<CarritoCompras.Web.Models.Usuario>

<h2>Usuarios Compradores</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Id</td>
                <td>@usuario.Nombres</td>
                <td>@usuario.Rol</td>
            </tr>
        }
    </tbody>
</table>
